@import "./styles/fonts.css";
@import "./styles/colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: #121212;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff;
}

input {
  color: inherit;
  font: inherit;
  border: 1px solid #d6d6d6;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}
